
.colors {
/*red */rgba(117, 27, 43, 1); 
/*light blue */rgba(113, 141, 168, 1);
/*dark blue */rgba(1, 62, 95, 1);
/*pale yellow */rgba(242, 213, 123, 1);
/*near white */rgba(242, 243, 243, 1);
}



* {
	margin: 0px;
	padding: 10px;
	border-radius: 5px;
	font-family: Georgia;
}

body {
	background-color: rgba(1, 62, 95, 1);
}

h1 {
	background-color: rgba(117, 27, 43, 1);
	color: rgba(242, 213, 123, 1);
	text-align: center;
	font-size: 2.5em;
	max-width: 85%;
	margin-left: auto;
	margin-right: auto;
}

div {
	width: 90%;
	padding: 0;
}    

form {
	max-width: 85%;
	margin-left: auto;
	margin-right: auto;
}

ul {
    list-style-position: inside;
    list-style-type: none;
}

label {
	padding: 5px;
	margin: 10px;
}

#input_area {
	font-size: 1em;
	background-color: rgba(242, 243, 243, 1);
}

#instructions {
	color: /*red */rgba(117, 27, 43, 1); 
	background-color: rgba(242, 213, 123, 1);
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 0;
}

.hide {
	display: none;
}

.thumbnails {
	border: 2px double;
	border-color: /*red */rgba(117, 27, 43, 1); 
	padding: 5px;
	margin: .8em;
	max-width: 90%;
	max-height: 90%
	height: 600px;
	width: 600px;
	object-fit: cover;

}

#ctrPanel {
	font-size: 1.2em;
	color: rgba(242, 243, 243, 1);
	text-align: right;
	margin: .1em;
	margin-right: auto;
	margin-left: auto;
	padding: .3em;
	/*background-color: rgba(117, 27, 43, .2);*/
	max-width: 25%;
	position: fixed;
	right: 3px;
}

.panelChecks{
	margin: 1em;
}

.display-results {
	background-color: rgba(113, 141, 168, 1);
	color: /*red */rgba(117, 27, 43, 1); 
	margin: 1em;
	max-width: 75%;
}

.display-results:nth-child(even) {
	background-color: /*pale yellow */rgba(242, 213, 123, 1);
}

.display-results:nth-child(odd) {
	background-color: /*light blue */rgba(113, 141, 168, 1);
}

#loadingScreen {
 	color: /*light blue */rgba(113, 141, 168, 1);
 	font-size: 2em;
}


@media screen and (max-width: 700px) {

	#ctrPanel{
	font-size: 1em;
	color: green;/*rgba(242, 243, 243, 1);*/
	margin: .1em;
	padding: .3em;
	/*background-color: rgba(117, 27, 43, .2);*/
	max-width: 25%;
	float: center;
	}

}




